img{
  max-width: 300px;
  max-height: 300px;

}
img:hover{
  border: solid;

}

body {
   background-color: darkseagreen;
}

header {
   height: 140px;
   padding-top: 10px;
}

h1 {
   color: cornsilk;
   text-indent: 50px;
}

h2, h4 {
   color: darkgreen;
}

p {
   text-align: left;
}

nav, footer {
   clear: both;
   background-color: lightgrey;
   height: 25px;
   padding-bottom: 25px;
}

nav ul {
   margin: 0px;
   padding: 5px 0px 5px 50px;

}

nav li a {
   display: inline-block;
   margin-right: 40px;
   color: darkgreen;
}

nav li a:hover, nav li a.current {
   color: darkseagreen;
}

li {
   display: inline-block;
}
